<?php
return [
    // NOVA API version
    'version' => 'v14',
    // Default HTTP settings for SSO and the webservice
    'default' => [
        'debug' => false,
        'base_uri' => null,
        // Should be disabled
        'cookies' => false,
        // Accept all SSL certificates (important),
        // because NOVA regularly changes its SSL root certificates,
        // and we don't know when that will happen.
        'verify' => false,
        'headers' => [
            'Content-Type' => 'text/xml;charset=UTF-8',
            'User-Agent' => 'NovaApiClient/1.0',
        ],
        'timeout' => 30,
        'connect_timeout' => 30,
    ],
    // Single Sign On
    'sso' => [
        'base_uri' => 'https://example.com',
        'client_id' => '',
        'client_secret' => '',
    ],
    // The NOVA SOAP endpoint
    'webservice' => [
        'base_uri' => 'https://example.com',
    ],
    // Transport company identifier configuration
    'client' => [
        'correlation_id' => '101563d5-f3c4-4723-888b-6ea4bf321c32',
        'service_agent' => '00',
        'channel_code' => '000',
        'point_of_sale' => '0000',
        'distribution_point' => '0000',
        'sale_device_id' => '1',
    ]
];
